Debug/*
Release/*
Tanks.v12.suo
Tanks.sdf
Tanks/Release/
Tanks/Debug/
Tester/Debug/
Tanks.opensdf
.vs/Tanks/v14/.suo
Tanks/x64/
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
*.VC.db
*.opendb
*.db
*.ipch
.vs/Tanks/v15/.suo
*.db
.vs/Bloodstone/v15/.suo
*.db-shm
*.db-wal
Bloodstone-core/Debug
Bloodstone-core/x64
x64/*
*.a
