Debug/Tanks.exe
Debug/Tanks.ilk
Debug/Tanks.pdb
Release/Tanks.exe
Release/Tanks.pdb
Release/Tanks.ilk
Tanks.v12.suo
Tanks.sdf
Tanks/Release/
Tanks/Debug/
Tester/Debug/
Tanks.opensdf
.vs/Tanks/v14/.suo
Tanks/x64/
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
*.db
Tanks.VC.db